* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  min-height: 62px;
  background-color: #fffbeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 1rem;
  height: 80vh;
}

.header-title {
  font-size: 24px;
  font-family: "Rye";
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: #a2571e;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #a2571e;
  color: white;
}

input {
  padding: 8px 16px;
  border: 1px solid #e5e7eb;
  margin-right: 4px;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-40 {
  margin-top: 20rem;
}

.arrow-left {
  position: absolute;
  left: 5%;
}

.relative {
  position: relative;
}

select {
  padding: 4px 8px;
  margin-right: 4px;
}
