* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

header {
  position: relative;
  min-height: 62px;
  background-color: #fffbeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  height: calc(100vh - 62px);
  padding: 0 1rem;
}

.header-title {
  font-size: 24px;
  font-family: "Rye";
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: #b45309;
}

.search {
  width: 350px;
  margin: 0 auto;
  padding: 1.5rem 0 2rem 0;
  display: flex;
}

.btn {
  padding: 10px 1rem;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #a2571e;
  color: white;
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  margin-right: 1rem;
}

.arrow-left {
  position: absolute;
  left: 5%;
}

select {
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  margin-right: 1rem;
}

.jokes {
  padding-bottom: 24px;
}

.category {
  display: flex;
  width: 350px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-base {
  font-size: 16px;
}

.font-italic {
  font-style: italic;
}

.mt-8 {
  margin-top: 2rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mt-4 {
  margin-top: 1rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}
